*.xcodeproj/*
!*.xcodeproj/project.pbxproj
S4LuceneLib/build
S4LuceneLib/dist/Headers/*.h
S4LuceneLib/dist/libS4LuceneLib.a
S4LuceneLib/dist/Resources/*.xib
S4LuceneLib/dist/Resources/*.png
iPhoneLuceneSearch/build
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
target/*
.DS_Store
profile
*.svn
/.svn/*
*/*/xcuserdata
*/*/*/xcuserdata
*/*/*/*/xcuserdata
*.hg
/.hg/*
