*.xcodeproj/*
!*.xcodeproj/project.pbxproj
S4LuceneLib/build
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
target/*
.DS_Store
profile
*.svn
S4LuceneLib/dist/Headers/*.h
S4LuceneLib/dist/Resources/Lucene.png
S4LuceneLib/dist/libS4LuceneLib.a